
.carousel-links {
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: var(--main-background-color);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 0px 5px;
}

.carousel-slides {
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-slides > div {
    background-color: rgb(68,68,68);
    color: var(--main-color);
    height: 100%;
    width: 100%;
}   

/* Pie del carusel */

/*
.carousel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

*/


/* Projects carrusel grid */

.carousel-project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 3.5em;
    grid-template-areas: 
    "title" 
    "video" 
    "description"
    ;
}

.carousel-project .project-title {
    display: block;
    padding: 10px;
    grid-area: title;
}


.carousel-project .project.video, iframe {
    display: block;
    margin: auto;
    padding: 10px;
    height: 100%;
    grid-area: video;
}

.carousel-project .project-description {
    display: block;
    padding: 10px; 
    grid-area: description;
    margin: auto;
}

.carousel-project .project-description p {
    background-color: rgb(68,68,68);
    color: var(--main-color);
    max-width: 600px;
    align-self: center;
    font-size: large;
}

/* Project lis - GRID */


