/* Skills */

.skill-container {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30vh;
}

.skill-label {
    width: 100%;
}

.skill-input {
    width: 100%;
}

/* Barras de progeso de los skills */

.skills .skill-border {
    border: 1px solid var(--main-background-color);
    border-radius: 5%;
    height: 1em;
    width: 200px;
    overflow: hidden;
}

/* 50% de skill */

.skills .skill-progress50 {
    background-color: lightskyblue;
    height: 100%;
    color: var(--main-color);
    animation: progress-bar50 2s forwards;
}

@keyframes progress-bar50 {
    0% {width: 0;}
    100% {width: 50%;}
}

/* 75% de skill */

.skills .skill-progress75 {
    background-color: lightskyblue;
    height: 100%;
    color: var(--main-color);
    animation: progress-bar75 3s forwards;
}

@keyframes progress-bar75 {
    0% {width: 0;}
    100% {width: 75%;}
}

