/* CSS */

/* Variables */
:root {
    font-size: 24px;    
    --main-background-color: #4c4ee6;
    --main-color: #fff;
}

/* clases : MOBILE FIRST */

* {
    box-sizing: border-box;
}

.header {
    padding: 10px 20px;
    background-color: var(--main-background-color);
    color: var(--main-color);
}

.navbar {
    background-color: var(--main-background-color);
    color: var(--main-color);
    display: none;
}

.section {
    padding: 10px;
}

.section h1 , .section p {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.section p {
    font-size: 0.5em;    
}

.section h1 {
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    border-top: 1px solid var(--main-background-color);
    border-bottom: 1px solid var(--main-background-color);
}

.projects {
    background-color: var(--main-color);
    color: var(--main-background-color);

}

.skill-container {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30vh;
}

.skill-item {
    width: 80px;
    height: 1em;
    background-color: var(--main-color);
    color: var(--main-background-color);
    padding: 10px;
    
}

.skill-label {
    width: 100%;
}

.skill-input {
    width: 100%;
}

.contact {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.table input {
    border-color: var(--main-background-color);
}

.contact .table .table-item {
    font-size: 0.5em;
    padding: 10px;
}

.contact .origin {
    font-size: 05.em;
}

.contact .origin .origin-item {
    font-size: 0.5em        ;
}

.contact .github-tag {
    font-size: 05em
    /* display: none;*/
}

.contact .text {
    font-size: 0.5em;
}

.footer {
    background-color: var(--main-background-color);
    color: var(--main-color);
}
.footer .social {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer .social-item {
    width: 2em;
    height: 2em;
}

.footer .social-icon {
    width: 2em;
    height: 2em;
}

/* Media Queries: DESKTOP */

@media screen and (min-width: 546px) {
    /* CSS ancho > 546px */
    .header {
        display: none;
    }
    .navbar {
        border-block-start-color: var(--main-background-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar .menu {
        display: flex;
    }
    
    .navbar .menu .menu-item a {
        margin-left: 10px;
        text-decoration: none;
        color: var(--main-color);
    }
    
        
}

